.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-sheet{
    margin-top: 250px;
    font-size: 2em
  }
  .btn-sheet-dimensions{
    width:250px;
    height: 150px;
  }