.conf-dialog .mat-dialog-title {
    font-size: 1rem;
    line-height: 1.69;
    letter-spacing: .5px;
    color: rgba(0, 0, 0, 0.6);
}

.conf-dialog .mat-form-field {
    width: 100%;
}

.conf-dialog .mat-dialog-actions {
    justify-content: flex-end;
}